*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
  background-color: #fafafa;
  height: 100%;
}

body,
html {
  height: 100%;
}

.hero-title {
  max-height: 100%;
  height: 400px;
  max-width: 100%;
  display: block;
}

.hero-text {
  text-align: center;
  padding: 100px 0px 100px 0px;
  margin: 0px;
}
