*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
  background-color: #fafafa;
  font-family: 'Vazirmatn', sans-serif;
  height: 100%;
}



.hero-title {
  max-height: 100%;
  height: 600px;
  max-width: 100%;
  display: block;
}

.hero-text {
  text-align: center;
  padding: 200px 0px 100px 0px;
  margin: 0px;
  color: #fafafa;
}

