* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fafafa;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(58, 58, 58);
}

.logo {
  margin: 0 0 0 1em;
  font-size: 30px;
}
.logo a {
  color: rgb(0, 0, 0);
}

.logo,
.navigation {
  list-style: none;
}

.logo a,
.navigation a {
  text-decoration: none;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: rgb(0, 0, 0);
  transition: color .6s ease-in-out;
}

ul.navigation {
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  left: auto;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0.9;
  color: red;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
    font-size: 26px;
  }

  .navigation {
    width: 40%;
    justify-content: space-around;
  }
}

/* ****** ****** */
@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
  }

  .navigation {
    flex-direction: column;
    width: 100%;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  ul.navigation {
    margin: 0;
    padding: 0;
  }
}
