* {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #333;
}

.logo {
  margin: 0 0 0 0.9em;
  font-size: 30px;
}
.logo a {
  color: rgb(0, 0, 0);
}

.logo,
.navigation {
  list-style: none;
}

.logo a,
.navigation a {
  text-decoration: none;
}

.navigation {
  display: flex;
  margin: 0 0 0 0.9em;
}

.navigation a {
  display: block;
  padding: 1em;
  color: rgb(0, 0, 0);
}

.navigation a:hover {
  background: #413f3f;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
    font-size: 26px;
  }

  .navigation {
    width: 40%;
    justify-content: space-around;
  }
}

/* ****** ****** */
@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
  }

  .navigation {
    flex-direction: column;
    width: 100%;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 0 -3em;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
