* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Vazirmatn', sans-serif;
  
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(58, 58, 58);
}

.logo {
  margin: 0 0 0 1em;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
.logo a {
  color: rgb(0, 0, 0);
}

.logo,
.navigation {
  list-style: none;

}

.logo a,
.navigation a {
  text-decoration: none;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in-out;
}

ul.navigation {
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  left: auto;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0.9;
  color: rgb(25, 131, 230);
}

/*about block */

.about_block {
  display: flex;
}

.text_block {
  text-align: left;
}

.image_block {
  display: block;
}

/*footer css */

.block_footer {
  background: rgb(210, 210, 210);
  padding: 20px 0;
  border-top: 4px solid white;
  color: white;
  margin: 0px;
}

footer {
  display: flex;
}

footer h3 {
  text-align: center;
}
footer .row{
  width: 100%;
}

footer p {
  margin: 0;
}

.block_copyright {
  padding: 10px 0;
  text-align: center;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
    font-size: 26px;
  }

  .navigation {
    width: 40%;
    justify-content: space-around;
  }
}


@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left; 
  }

  .navigation {
    flex-direction: column;
    width: 100%;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  ul.navigation {
    margin: 0;
    padding: 0;
  }
}


* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */

footer {
  background-color: rgb(243, 243, 243);
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: rgb(83, 83, 83);
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #646262;
  transition: color .15s ease-in-out;
}


